#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .pokemon {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }
  
  #pagination {
    display: flex;
    margin-top: 10px;
  }
  
  button {
    margin: 5px;
    cursor: pointer;
  }
  